 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
        big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
        dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
        canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
        }

        header .gnb {
            width:100%; background-color:#000000;
        }

        header .gnb ul {
            overflow:hidden; width:1000px; height:50px; line-height:30px; margin:0 auto;
        }

        header li{
            float:right; list-style:none; margin-left:50px; font-size:1.5em;
        }

        header a{
            color:#ffffff; text-decoration:none;
        }

        header .logo {
            width:300px; height:100px; line-height:100px;
            margin:70px auto;
            text-align:center;
        }

        header .lnb {
            overflow:hidden;
            width:100%; height:50px;
            padding:5px;
            margin-top:20px;
            font-size:20px;
            font-weight:bold;
        }

        header .lnb ul {
            width:1000px; margin:0 auto;
        }

        header .lnb li {
            margin:5px;
            line-height:25px;
        }

        header .lnb a {
            color:#000000;
            font-size:1.1em;
            padding:10px 30px;
        }

        footer {
            width:100%; height:500px; margin:20px auto 0;
            overflow:hidden;
        }

        footer div {
            float:left; height:250px;
            border:1px solid #cccccc; box-sizing:border-box;
        }

        footer div:last-child {
            width:100%; height:500px; margin:10px auto 0; background-color:#000000; color:#ffffff;
            text-align:center; line-height:50px;
            clear:both; border:0;
        }
        footer li{
        	border-top: 2px solid #f00; 
        }
        
        .my{
        	margin-top:70px;
        	border-top:1px solid #000000;
        	width:1200px;
        	border-spacing: 0px;
        	line-height:70px;
        }
        .my #box {
        	margin-left:20px;
        	width:200px;
        	height:30px;
        }
        .my #box1 {
        	margin-left:20px;
        	width:300px;
        	height:30px;
        }
        .my tr {
        	border-bottom:1px solid #000000;
        }
        .my td {
        	border-bottom:1px solid #BDBDBD;
        }
        
        .my th {
        	background-color:#E6E6E6;
        	border-bottom:1px solid #BDBDBD;
        }
        a{
        	color:#A4A4A4; 
        	text-decoration:none;
        }
        .idpwdtbl{
        	padding:50px;
        }
        .dividpwd{
        	margin-top:70px;
        	border:1px solid #E6E6E6;
        }
        .idpwd{
        	width:300px;
        	height:40px;
        }
        .idpwd1{
        	width:150px;
        	height:85px;
        	border:1px solid #000000;
        	background:#000000;
        	color:#ffffff;
        }
        .litable li.hit{
        	border-bottom-style:hidden;
        	background:#FFFFFF;
        	border-color:#848484;
        }
        .litable li{
        	display:table-cell;
        	border:1px solid #D8D8D8;
        	border-bottom:1px solid #848484;
        	background:#E6E6E6;
        }
        .litable ul{
        	display:table;
        	width:100%;
        	table-layout:fixed;
        }
        
        .litable{
        	width:1200px;
        }
        .listyle{
        	display:block;
        	text-align:center;
        	padding:13px 10px 15px;
        	
        }
        #button{
        	margin-left:10px;
        	size:10px;
        	margin-top:5px;
        	background-color: #000000;
        	color:#ffffff;
        }
        #text{
        	margin-left:10px;
        }
        
        #button2{
        	margin-top:5px;
        	width:200px;
        	height:55px;
        	background-color: #FA5858;
        	color:#ffffff;
        }
        #button3{
        	margin-left:10px;
        	margin-top:5px;
        	width:160px;
        	height:55px;
        	background-color: #BDBDBD;
        	color:#ffffff;
        }
        .buttoncl{
        	margin-top:60px;
        }
        .titleli ul{
        	display:table;
        	list-style:none;
        	right:0;
        	top:0;
        }
        .titleli li{
        	display:table-cell;
        	right:0;
        	top:0;
        }
         #button4{
        	margin-left:10px;
        	width:70px;
        	height:28px;
        	margin-top:5px;
        	background-color: #BDBDBD;
        	color:#000000;
        }
        .titleli{
        	float:right;
        	right:0;
        	top:10%;
        	position:absolute;
        }
        .my #sample6_postcode {
        	margin-left:20px;
        	width:200px;
        	height:35px;
        }
        .my #sample6_address {
        	margin-left:20px;
        	width:250px;
        	height:35px;
        }
        .my #sample6_address2 {
        	margin-left:20px;
        	width:250px;
        	height:35px;
        }
        .my #box3 {
        	width:125px;
        	height:35px;
        	font-size:14px;
        }
        
        .my #box2 {
        	margin-left:20px;
        	width:50px;
        	height:35px;
        	font-size:14px;
        }
        .text1 a{
        	text-decoration:none;
        	color:#000000;
        }
        .text1 th{
        	border-bottom:1px solid #848484;
        }
        .text1 td{
        	border-bottom:1px solid #848484;
        	margin-top:30px;
        	width : 100px;
        	height : 20px;
        }
        .text1{
			font-size:15px;
			width:1000px;	
			text-align:center;
			margin-top:100px; 
        	border-spacing: 0px;
		}
		#button5{
        	margin-top:5px;
        	width:200px;
        	height:55px;
        	background-color: #FA5858;
        	color:#ffffff;
        }
        #button6{
        	margin-left:10px;
        	margin-top:5px;
        	width:160px;
        	height:55px;
        	background-color: #BDBDBD;
        	color:#ffffff;
        }
        .buttoncl1{
        	margin-top:60px;
        }
        .center{
        	position:relative;
        	margin:0px auto;
        	width: 1200px;
        }
        .title{
        	margin-bottom:30px;
        	margin-top:30px;
        }
        header li img{
         	width:200px; height:50px;
        }