html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
        big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
        dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
        canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
        }
        
        header .gnb {
            width:100%; background-color:#000000;
        }

        header .gnb ul {
            overflow:hidden; width:1000px; height:50px; line-height:30px; margin:0 auto;
        }

        header li{
            float:right; list-style:none; margin-left:50px; font-size:1.5em;
        }

        header a{
            color:#ffffff; text-decoration:none;
        }

        header .logo {
            width:300px; height:100px; line-height:100px;
            margin:70px auto;
            text-align:center;
        }

        header .lnb {
            overflow:hidden;
            width:100%; height:50px;
            padding:5px;
            margin-top:20px;
            font-size:20px;
            font-weight:bold;
        }

        header .lnb ul {
            width:1000px; margin:0 auto;
        }

        header .lnb li {
            margin:5px;
            line-height:25px;
        }

        header .lnb a {
            color:#000000;
            font-size:1.1em;
            padding:10px 30px;
        }

        footer {
            width:100%; height:500px; margin:20px auto 0;
            overflow:hidden;
        }

        footer div {
            float:left; height:250px;
            border:1px solid #cccccc; box-sizing:border-box;
        }

        footer div:last-child {
            width:100%; height:500px; margin:10px auto 0; background-color:#000000; color:#ffffff;
            text-align:center; line-height:50px;
            clear:both; border:0;
        }
        footer li{
        	border-top: 2px solid #f00; 
        }
        
        .wrap{
			position: relative;
		}
		.wrap img {
			width: 100%;
		}
		.text {
			position: absolute;
			top: 30%;
			left:28%;
			right:32%;
		}
		.text h1{
			font-size:100px;
		}
		.text1{
			font-size:15px;
			width:1000px;	
			text-align:center;
			margin-top:100px; 
        	border-spacing: 0px;
		}
		.text2{
			font-size:20px;
			line-height:70px;
			width:500px;	
			text-align:center;
			margin-top:100px; 
        	border-spacing: 0px;
		}
		.text2 th{
			border-bottom:1px solid #848484;
		}
		.text2 td{
        	border-bottom:1px solid #848484;
        	margin-top:30px;
        	width : 100px;
        	height : 20px;
        }
		
		.text1 th{
        	border-bottom:1px solid #848484;
        }
        .text1 td{
        	border-bottom:1px solid #848484;
        	margin-top:30px;
        	width : 1000px;
        	height : 20px;
        }
        
        .text2 a{
        	text-decoration:none;
        	color:#A9A9F5;
        }
        .text1 a{
        	text-decoration:none;
        	color:#000000;
        }
        #button{
        	border:none;
        	background-color:red;
        	width:70px;
        	height:40px;
        }